@model IEnumerable<UCGrab.Database.Favorites> 
@{ 
    ViewBag.Title = "Favorited Products";
    Layout = "~/Views/Shared/UserLayout.cshtml";
 }

<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Favorited Products</span>
    </h2>
    <div class="row px-xl-5">
        @if (Model.Any())
        {
            foreach (var product in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid w-100 h-100" src="~/UploadedFiles/@(product.Product.Image_Product.FirstOrDefault()?.image_file ?? "default_image.jpg")" alt="@product.Product.product_name" style="object-fit: cover;">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" onclick="onAddCart(@product.id)"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" onclick="onRemoveFav(@product.id)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="#">@product.Product.product_name</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>Php @product.Product.price.ToString("N2")</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    You have no favorited products.
                </div>
            </div>
        }
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function onAddCart(prodId) {
        var qty = 1; // Default quantity

        Swal.fire({
            title: "Are you sure?",
            icon: "question",
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            showCancelButton: true,
            confirmButtonText: "OK",
        }).then((result) => {
            if (result.isConfirmed) {
                $.post("/Home/AddCart",
                    {
                        prodId: prodId,
                        qty: qty
                    },
                    function (data, status) {
                        if (data.code == 0) {
                            Swal.fire(data.message, "", "success");
                            if (typeof loadCartCount === "function") {
                                loadCartCount();
                            }
                        } else {
                            Swal.fire(data.message, "", "error");
                        }
                    }).fail(function (xhr, status, error) {
                        Swal.fire("Error adding to cart!", error, "error");
                    });
            }
        });
    }
    function onRemoveFav(prodId) {
        Swal.fire({
            title: "Are you sure?",
            text: "This will remove the item from your favorites.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, remove it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.post("/Home/RemoveFromFavorites", { prodId: prodId }, function (data, status) {
                    if (data.code === 0) {
                        Swal.fire(data.message, "", "success");
                        location.reload();
                    } else {
                        Swal.fire(data.message, "", "error");
                    }
                }).fail(function (xhr, status, error) {
                    Swal.fire("Error removing favorite!", error, "error");
                });
            }
        });
    }

</script>
